<div class="header">
    <img class="navlogo" alt="Nav-logo" src="{{ image "nav-logo.png" }}"/>
    <table class="mottaker-table">
        {{#if mottakerNavn}}
            <tr>
                <td class="mottaker-navn">Navn:</td>
                <td class="mottaker-navn">{{ mottakerNavn }}</td>
                <td class="mottaker-dato" rowspan="2">{{ datoSendt }}</td>
            </tr>
        {{else}}
            <tr>
                <td class="mottaker-navn"> </td>
                <td class="mottaker-navn"> </td>
                <td class="mottaker-dato" rowspan="2">{{ datoSendt }}</td>
            </tr>
        {{/if}}
        {{#if mottakerFodselsnummer}}
            <tr>
                <td class="mottaker-navn">Fødselsnummer:</td>
                <td class="mottaker-navn">{{ mottakerFodselsnummer }}</td>
            </tr>
        {{/if}}
    </table>
</div>
